<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="index"> <!-- Cette page est décoreée avec un layout qui s'appelle index.html-->
<head>
	<meta charset="UTF8">
	<title>Catégories</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
	<body>
		<!--<div layout:fragment="content">
    		<section class="tiles">
					<article class="style1" th:each="c:${listCategories}">
						<span class="image"><img src="../images/pic01.jpg" alt="" /></span>
						<a href="../quizz/index" th:text="${c.nomCategorie}"> 
						<h3><strong></strong></h3>
						<div class="content" ></div>
						</a>
					</article>											
			</section>
		</div> -->
	</body>
</html>