<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="index"> <!-- Cette page est décoreée avec un layout qui s'appelle index.html-->
<head>
<meta charset="UTF8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <tr>
            <th>Categories</th>
        </tr>
        <tr th:each="c:${listCategories}">
            <td th:text="${c.nomCategorie}"></td>
        </tr>
    </table>
</div>
</body>
</html>
