<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="index"> <!-- Cette page est décoreée avec un layout qui s'appelle index.html-->
<head>
	<meta charset="UTF8">
	<title>CCatégories</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
	<body>
		<div layout:fragment="content">
			<table class="table panel panel-primary">
				<thead class="panel-heading">
       				<tr>
            		<th>Categories</th>
        			</tr>
				</thead>
					<tbody>
        				<tr th:each="c:${listCategories}">
            			<td th:text="${c.nomCategorie}"></td>

        		</tr>
    		</table>
		</div>
	</body>
</html>
