<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<title>DAWAN Projet Quizz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	
		<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
      								<h1><span>Q</span>uiz <i class="far fa-question-circle"></i></h1>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<div id="main">
						<div class="inner">
							<header>
								<h1>Bienvenue dans l'espace de jeux<br />
								Sélectionnez un thème !</h1>
							
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="../images/pic01.jpg" alt="" />
									</span>
									<a href="../question/index">
										 <h3><strong>Faune et flore</strong></h3>
										<div class="content"></div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="../images/pic02.jpg" alt="" />
									</span>
									<a href="../question/index">
										<h3><strong>Anatomie corps humain</strong></h3>
										<div class="content"> </div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="../images/pic03.jpg" alt="" />
									</span>
									<a href="../question/index">
										<h3><strong>Physique Chimie</strong></h3>
										<div class="content"></d>
									</a>
								</article>
								
							</section>   
						</div>
					
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="#">Accueil</a></li>
							<li><a href="#">S'incrire / se connecter</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<section layout:fragment="content">  
	  					  </section>

	
			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>